* {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

p {
    padding: 20px;
}

.result {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

body {
    min-width: 100vw; min-height: 100vh;
    background: #282c34;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    margin: auto;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
}

#firstForm, #secondForm {
    width: 260px;
    height: 260px;
}

#secondForm {
    display: none;
}

#thirdForm {
    width: 740px;
}

#fourthForm {
    display: none;
    width: 500px;
}

#fifthForm {
    display: none;
    width: 550px;
}

#fifthForm span {
    padding: 0;
}

#sixthForm {
    display: none;
    width: 250px;
}

#seventhForm {
    width: 750px;
}

label {
    padding: 5px;
    font-weight: 500;
}

input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: white;
}

form div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 0;
    align-items: center;
}

#firstForm input[type = radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0;
    border-radius: 7px;
    width: 120px;
    height: 36px;
    outline: none;
    background-color: #A9A9A9;
    box-shadow: inset 0 0 0 1px white;
}

input[type="radio"]:checked {
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
}

form input[type=range] {
    cursor: pointer;
    padding: 0;
}

#glassWidthId {
    padding: 5px;
}

form input[type = submit] {
    border: none;
    cursor: pointer;
    background-color: #0999ecc3;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    transition: background 0.3s;
}

form input[type=submit]:hover {
    background-color: #0999ec;
}

#tablo1 {
    width: 400px;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 80px;
    width: 800px;
}
tr {
    border-right: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: #020202;
}

th {
    background-color: #f2f2f22b;
}

#tablo1 tr:first-child, #tablo2 tr:first-child {
    border-top: 1px solid #ddd;
}

#white::before {
    content: "Beyaz";
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: inherit; height: inherit;
    color: white;
}
/*
#white:checked::before {
    color: #fff;
}
*/
#green::before {
    content: "Yesil";
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: inherit; height: inherit;
    color: white;
}
/*
#green:checked::before {
    color: #fff;
}
*/
#glassWidth1::before {
    content: "5mm";
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: inherit; height: inherit;
    color: white;
}
/*
#glassWidth1:checked::before {
    color: #fff;
}
*/
#glassWidth2::before {
    content: "4mm";
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: inherit; height: inherit;
    color: white;
}
/*
#glassWidth2:checked::before {
    color: #fff;
}
*/
#carVoltage, #wireCount {
    text-align: center;
}

#firstForm label {
    text-align: center;
}

#secondForm label {
    text-align: center;
}

#fourthForm label {
    text-align: center;
}

#fifthForm label {
    padding-left: 200px;
}